fastapi[standard]==0.115.6
pydantic==2.8.0
SQLAlchemy==2.0.36
openai==1.59.3
requests==2.28
alembic==1.14.0
chromadb==0.6.1
pypdf==5.1.0
langchain-community==0.3.14
langchain-openai==0.2.14
boto3==1.28.13
python-jose==3.3.0
pytest==8.3.4
pytest-cov==6.0.0